.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.area{
  display: flex;
  justify-content: center;
  padding: 60px;
  box-sizing: content-box;
  
}

.img{
  width: 500px;
  height: 300px;
  
}

.titulo{
  background-color: #03a696;
  color: #F0F1F2;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;

}

.texto{
   font-size: large;
   font-weight: bolder;
   align-items: flex-end;
   margin-left: 50px;
  
}

.imagem-carrossel {
  height: 400px;
}

#section {
  margin: 20px;
}
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 18em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}