.imagem-carrossel {
    height: 400px;
  }
  
  .card-img-top {
    object-fit: cover;
  }
  
  .card-menu {
    padding: 30px;
  }
  
  .table-menu {
    margin: 50px;
  }
  
  .agenda {
    margin: 0 150px 50px 150px;
  }

  .cronograma {
      object-fit: cover;
      object-position: 15% 0%;
      height: 350px;
  }
  
  .card-projeto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: #03a696;
    align-items: center;
  }
  
  .data-card {
    width: 5px;
    height: 50px;
  }

  .text-center {
      padding: 30px;
  }

  .table-espaco {
    padding: 30px;
  }

